<div class="container-fluid">
  <div class="col-md-9">
    <div class="row classWithPad">
      <div style="height:450px">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in advert.pictures" active="slide.active">
            <img ng-src="http://localhost:3000/{{slide.link}}" style="margin:auto;">
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
    <div class="row classWithPad">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Description:
          <div class="button-group pull-right">
            <a class="btn btn-success btn-xs">{{advert.type}}</a>
            <a class="btn btn-warning btn-xs">{{advert.surface}} m<sup>2</sup></a>
            <a class="btn btn-danger btn-xs">{{advert.price}} Euros</a>
          </div>
        </div>
        <div class="panel-body">
      <p>
        {{advert.description}}
      </p>
    </div>
    </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row classWithPad">
     <div class="panel panel-primary">
      <div class="panel-heading">
        Owner
        <a class="btn btn-success pull-right btn-xs" href="#/contact/{{advert.id}}">Contact</a>
      </div>
      <div class="panel-body">
        <img class="img-circle" ng-src="http://localhost:3000/{{advert.owner.picture.link}}" width="40px"/>
        {{advert.owner.firstName}} {{advert.owner.lastName}}<br/><br/>
        <ul class="list-group">
          <li class="list-group-item">
            <i class="fa fa-envelope"></i> {{advert.owner.email}}
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone"></i> {{advert.owner.phone}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row classWithPad">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Share advertisment
      </div>
      <div class="panel-body">
        <div class="social-media">
          <a href="http://twitter.com/share?url={{pageUrl}}&text=Property for sales" target="_blank" class="share-btn twitter">
            <i class="fa fa-twitter"></i>
          </a>

          <!-- Google Plus -->
          <a href="https://plus.google.com/share?url={{pageUrl}}" target="_blank" class="share-btn google-plus">
            <i class="fa fa-google-plus"></i>
          </a>

          <!-- Facebook -->
          <a href="http://www.facebook.com/sharer/sharer.php?u={{pageUrl}}" target="_blank" class="share-btn facebook">
            <i class="fa fa-facebook"></i>
          </a>

          <a href="mailto:?subject=Propert for sales&body={{pageUrl}}" target="_blank" class="share-btn email">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row classWithPad">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Location
      </div>
      <div class="panel-body">
        <div id="map-canvas" style="height:300px;width:100%"></div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>