<div class="container-fluid">
	<div class="row">
		<div ng-if="msg == 'Success'">
			<div class="col-md-12">
				<div class="alert alert-success" role="alert">
					<a class="close" data-dismiss="alert">&times;</a>
					User successfuly deleted !
				</div>
			</div>
		</div>
		<div ng-if="msg == 'Error'">
			<div class="col-md-12">
				<div class="alert alert-danger" role="alert">
					<a class="close" data-dismiss="alert">&times;</a>
					Error: something went wrong, please try again !
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>List of users</h5>
				</div>

				<div class="ibox-content">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Adverts</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="user in users| itemsPerPage: 5">
								<td>{{user.firstName}} {{user.lastName}}</td>
								<td>{{user.email}}</td>
								<td><a class="btn btn-primary btn-xs" href="#/user/{{user.id}}/adverts">View</a></td>
								<td><a class="btn btn-danger btn-xs" ng-click="delete(user.id)">Delete</a></td>
							</tr>
						</tbody>
					</table>
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
			
		</div>
	</div>
</div>