<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Create advertisment</div>
				<div class="panel-body">
					<form>
						<div class="col-md-3">
							<div class="form-group">
								<label>Type:</label>
								<input type="text" ng-model="type" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Surface:</label>
								<input type="text" ng-model="surface" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Price:</label>
								<input type="text" ng-model="price" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Location:</label>
								<input type="text" ng-model="location" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Description:</label>
								<textarea rows="4" class="form-control" ng-model="description"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<input type="file" name="file" file-model="img1" class="btn btn-primary"accept="image/*">
								</div>
								<div class="col-md-3">
									<button ng-click="upload(img1)" class="btn btn-success">Upload </button>
								</div> 
								<div ng-if="file_upload_error != undefined">
									<div class="col-md-6">
										<div class="alert alert-danger">
											<a class="close" data-dismiss="alert">&times;</a>
											{{file_upload_error}}
										</div>
									</div>
								</div>
							</div><br/>
						</div>
						<div class="col-md-12">
							<div class="form-group">	
								Pictures uploaded: {{files.length}}
							</div>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-success btn-block" value="Create" ng-click="create()">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">List of advertisment <a class="btn btn-warning btn-xs pull-right" ng-click="refresh()">Refresh</a></div>
				<div class="panel-body">
					<div dir-paginate="advert in adverts| itemsPerPage: 5">
						<div class="row">
							<div class="col-md-12">
								<div class="button-group pull-right">
									<a class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit</a>
									<a class="btn btn-danger btn-xs" ng-click="remove({{advert.id}})"><i class="fa fa-trash"></i> Remove</a>
								</div>
							</div>
						</div><br/>
						<div class="row advert">
							<div class="col-md-3">
								<div style="width=250px;height=250px">
									<img ng-src="http://localhost:3000/{{advert.pictures[0].link}}" style="max-width:100%;max-height:100%">
									</div><br/>
								<span class="badge">{{advert.pictures.length}}</span>
							</div>
							<div class="col-md-6">
								<h5><a ng-href="#/ad-view/{{advert.id}}">{{advert.type}}, {{advert.location}}</a></h5>
								<small>{{advert.description}}</small>
							</div>
							<div class="col-md-3">
								<div class="price"><i class="fa fa-money"></i> {{advert.price}} Euros</div>
								<div class="surface">{{advert.surface}} m<sup>2</sup></div>
							</div>
						</div><br/>
					</div>
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>
