<div class="container">
<div class="panel panel-primary">
	<div class="panel-body">
		<div ng-if="error != undefined">
			<div class="alert alert-danger" role="alert">
				<a class="close" data-dismiss="alert">&times;</a>
				Failed Authentication
			</div>
		</div>
		<form>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" ng-model="username" class="form-control">
			</div>
			<div class="form-group">
				<label for="email">Password</label>
				<input type="password" ng-model="password" class="form-control">
			</div>
			<input type="submit" class="btn btn-success btn-block" value="Login" ng-click="login()"/>
			<a class="btn btn-primary btn-block" href="#/forgot-password">Forgot Password</a>
		</div>
	</form>
</div>
</div>

