<div class="container">
<div class="panel panel-primary">
	<div class="panel-body">
		<div ng-if="error != undefined">
			<div class="alert alert-danger" role="alert">
				Registration Failed
			</div>
		</div>
		<form>
			<div class="form-group">
				<label for="email">First name</label>
				<input type="text" ng-model="firstName" class="form-control">
			</div>
			<div class="form-group">
				<label for="email">Last name</label>
				<input type="text" ng-model="lastName" class="form-control">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" ng-model="email" class="form-control">
			</div>
			<div class="form-group">
				<label for="email">Password</label>
				<input type="password" ng-model="password" class="form-control">
			</div>
			<div class="form-group">
				<label for="email">Confirm Password</label>
				<input type="password" ng-model="password_check" class="form-control">
			</div>
			<input type="submit" class="btn btn-success btn-block" value="Register" ng-click="register()"/>
		</div>
	</form>
</div>
</div>

