<div class="col-lg-12 animated fadeInRight">
	<div class="mail-box-header">
		<div class="pull-right tooltip-demo">
			<a href="mailbox.html" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> Delete</a>
		</div>
		<h2>
			Mohamed Labouardy Message
		</h2>
		<div class="mail-tools tooltip-demo m-t-md">


			<h3>
				<span class="font-noraml">Subject: </span>Aldus PageMaker including versions of Lorem Ipsum.
			</h3>
			<h5>
				<span class="font-noraml">From: </span>alex.smith@corporation.com
			</h5>
		</div>
	</div>
	<div class="mail-box">


		<div class="mail-body">
			<p>
				Hello
				<br/>
				<br/>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
				took a galley of type and scrambled it to make a type <strong>specimen book.</strong>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
				essentially unchanged.
			</p>
			<p>
			</div>

		</div>
	</div>
</div>